@import url("../Vendor/normalize.css");

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
    font-family: "Inter";
    color: black;
}
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
    font-family: "Noto Serif";
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    
    
}

.header {
    background-color: #FFFFFF;
    background-image: url(../Images/background_header.svg);
    background-position: center;
    background-repeat: none;
    position: relative;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
   

}
.logo {
    max-width: 125px;
    max-height: 142px;
    margin-top: 30px;
    margin-left: 30px;
    
    
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav__links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    flex-direction: row;
    margin-top: 30px;
    margin-right:80px;
    margin-bottom: auto;
    
    
    
}

.nav__link {
    color: black;
    list-style: none;

}
.nav__link:hover {
    color: #2F80ED;
}

.header__title {
    max-width:729px;
    margin-left: 80px;
    margin-top: 80px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

}

.header__title_span-accent {
    font-style: italic;
    color: #2F80ED;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
}

.header__description {
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 28px;
    max-width: 638px;
    display: flex;
    flex-wrap: wrap;
}


.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
    

}   

.header__paragraph {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:20px;
    

    
}
.header__paragraph-hours {
    position: absolute;
    bottom: 40px;
    left: 80px;
    
}
    
.header__paragraph-address {
    position: absolute;
    left: auto;
    right: 80px;
    bottom: 40px;
   } 
    
.header__paragraph-items {
    list-style: none;
}






.menu {
  background-color: #0a2750;
  background-image: url(../Images/background_menu.svg);
  background-repeat: none;
  background-position: center;
  background-size:cover;
  color:#FFFFFF;
  padding-top: 100px;
  padding-bottom: 100px;
   
    
}   

.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
    
    
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}
.menu__cards {
  list-style: none;
  gap: 100px;
 margin-right: 100px;
 margin-left: 100px;
 display: flex;
 flex-flow: row wrap;
 margin-top: 100px;

}

.card {
  margin-right: 0;
  max-width: 600px;
  flex-basis: calc(50%-100px);
  white-space: normal;
  
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
    
}
.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between; 
  margin-bottom: 16px;
}
.card__list-divider {
  border-bottom: 1px solid #fff;
  flex-grow: 2;
  width: 25px;
    
}






.recipes {
    background-color:#FFFFFF;
    background-image: url(../Images/background_recipes.svg);
    background-position: cover;
    padding-bottom: 215px;
    
    
}

.recipes__title {
    max-width: 580px;
    margin-left: 80px;
    margin-top: 100px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}
.recipes__subtitle {
    max-width: 438px;
    margin-left: 80px;
    margin-top: 24px;
    margin-bottom: 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
}

.recipes__videos {
  gap: 40px;
  max-width: 480px;
  max-height: 273px;
   display: flex;
   justify-content: space-evenly;
   margin-right: auto;
   margin-left: auto;
   
   
}  

.recipes__video {
  gap: 40px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}



.reservation {
  background-color: #D9e7ff;
  background-image: url(../Images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  
  
}
.reservation__form {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
  margin-bottom: 0;
  margin-top: 0;
}

.reservation__title {
 padding-top: 100px;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0;
}

.form__fieldset {
  width: 385px;
  margin-bottom: 32px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  padding: 0;
  margin-top: 80px;
  border: none;
  
} 

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  
}

.form__button[type="submit"] {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  width: 385px;
  height: 60px;
  transition: opacity, 2s, ease;
  background-color: #2F80ED;
  color: #FFFFFF;
  
}

.form__button:hover {
  opacity: 0.7;
}

.form__input {
  height: 60px;
  width: 385px;
  border-radius: 4px;
  border-color: #838383;
  margin-bottom: 32px;
  box-sizing: border-box;
  color: #838383;
  padding: 27px;
}

.form__input[type="text"]
.form__input[type="datetime-local"]
.form__input[type="email"] {
  min-width: 385px;
  min-height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 24px;
}


.form__checkbox {
  display: flex;
  justify-content: center;
}

.form__input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 2px;
  padding: 0;
}





.about {
    display: flex;
    
    background-color: #0A2850;
    color: #fff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    
  }
  
  .about__title {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: auto;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
    font-weight: 500;
    z-index: 1;
    max-width: 251px;
    
  }
  
  .about__content {
    margin-left: auto;
    margin-right: 80px;
    font-family: "Noto Serif", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 660px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 173px;
    margin-top: 119px;
    
  
  }
  
  .about__paragraph {
   margin:0;
   z-index: 1;
   
  }
  
  .about__circle {
    top: -152px;
    left: -129px;
    margin-right: auto;
    margin-bottom: auto;
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    
  }

  .about__circle_animation_blurred {
    top: -152px;
    left: -129px;
    margin-right: auto;
    margin-bottom: auto;
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    animation: pulsate 1.3s ease-in-out infinite;
  }

@keyframes pulsate {
    0% { opacity: 0;
        
    }
    50% { opacity: 0.6;

    }
    100% { transform: scale(1.1);
        opacity: 0;

    }

}












.footer {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-top: 60px;
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    color:#fff
    
  }
  
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }
  
  

  .footer__logo {
    max-width: 116px;
    max-height: 21px;
   
  
  }

  .footer__social-content {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
    
  }
  
  .footer__list-item {
    margin-bottom: 16px;
  }
  
  .footer__list-item:last-of-type{
    margin-bottom: 0;
  }
  
  .footer__social-heading {
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;

  }
  
  .footer__social-link {
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer__social-link:hover{
    color: #c1c1c1
  }
  
  .footer__social-icon {
    width: 16px;
    height:16px;
    margin-right: 10px;
  }
  
  .footer__copyright {
    display: flex;
    justify-content: flex-start;
    margin-top: 108px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  