
.header {
    background-color: #FFFFFF;
    background-image: url(../Images/background_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    z-index:-2;
}


.header__title {
    max-width:729px;
    margin-left: 80px;
    margin-top: 80px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.header__span-accent {
    font-style: italic;
    color: #2F80ED;
    font-family: 'Noto Serif', "Times New Roman", serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
}

.header__description {
    font-family: 'Noto Serif', "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 28px;
    max-width: 683px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
    z-index: -1;
    

}   

.header__footer {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:20px;
    color: #6f6f6f;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: auto;
    bottom: 40px;
    left: 80px;
    right: 80px;

}


    
.header__paragraph {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 0;
}
