
.recipes {
    background-color:#FFFFFF;
    background-image: url(../Images/background_recipes.svg);
    background-position: cover;
    padding-bottom: 215px;
    
    
}

.recipes__title {
    max-width: 580px;
    margin-left: 80px;
    margin-top: 100px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}
.recipes__subtitle {
    max-width: 438px;
    margin-left: 80px;
    margin-top: 24px;
    margin-bottom: 80px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
}

.recipes__videos {
  gap: 40px;
  max-width: 480px;
  max-height: 273px;
   display: flex;
   justify-content: space-evenly;
   margin-right: auto;
   margin-left: auto;
   
   
}  

.recipes__video {
  gap: 40px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
